.Pokemon {
    background-color: #35873a;
    padding: 10px;
    color: #fff;
    font-size: 150%;
}

.Pokemon .hidden{
    display: none;
}

.Pokemon .visible {
    display: block;
}

.Pokemon:hover{
    background-color: #389a3d;
}

.Pokemon:hover .hidden {
    display: block;
}


.Pokemon:hover .visible {
    display: none;
}

